@{
    ViewData["Title"] = "Privacy Policy(Gizlilik Politikası)";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<p> bu sayfayı gizlilik ile ilgili detayları hallet</p>
